<a href="https://colab.research.google.com/github/GauraoM/ML-Basics-Definitions/blob/main/Principal_Component_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import scipy.stats as stats

In [2]:
# Read csv
df = pd.read_csv("/content/heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [4]:
stats.zscore(df.Cholesterol)

array([ 8.25070261e-01, -1.71961047e-01,  7.70187804e-01,  1.39039544e-01,
       -3.47549040e-02,  1.28242407e+00,  3.49422297e-01,  8.41570869e-02,
        7.50100107e-02,  7.79334880e-01,  1.11598316e-01, -3.18314267e-01,
        4.75687820e-02,  3.21981069e-01,  1.11598316e-01,  6.78717041e-01,
       -2.56078278e-02,  2.01275533e-02,  4.50040136e-01,  6.23834584e-01,
        2.21363230e-01, -1.35372742e-01,  2.01275533e-02,  8.15923185e-01,
        1.48186620e-01,  9.33041631e-02,  5.59805050e-01,  7.79334880e-01,
        2.46239690e+00, -9.87844375e-02,  2.91975072e+00, -2.90873038e-01,
        2.30510306e-01, -2.45137657e-01, -1.17078590e-01,  5.04922593e-01,
        9.80570557e-01,  4.68334288e-01, -1.99402276e-01,  2.57951535e-01,
        2.85392764e-01,  8.70805642e-01,  5.96393355e-01,  5.50657974e-01,
       -2.17696428e-01,  1.09033547e+00,  2.21363230e-01,  1.57333697e-01,
        1.29157115e+00,  8.25070261e-01,  3.12833992e-01,  5.67158582e-02,
        2.30510306e-01,  4.22598907e-01, -1.71961047e-01, -4.39019802e-02,
        6.51275813e-01,  1.29892468e-01,  1.52024805e+00,  1.30986530e+00,
        4.95775517e-01,  5.04922593e-01,  2.30510306e-01,  7.15305346e-01,
        2.92746296e-02,  5.59805050e-01,  8.98246871e-01,  2.39657383e-01,
        4.31745983e-01,  1.95016064e+00,  6.05540432e-01,  1.48186620e-01,
       -1.53666895e-01,  1.75627849e-01,  6.32981660e-01, -3.27461343e-01,
        3.02036855e+00, -2.90873038e-01, -9.03727145e-01,  6.58629345e-02,
        7.15305346e-01,  3.58569374e-01,  2.21363230e-01, -2.56078278e-02,
        1.29892468e-01, -5.46991172e-01,  5.87246279e-01,  1.57333697e-01,
        8.43364413e-01,  2.76245688e-01,  8.41570869e-02,  9.89717633e-01,
        1.02451239e-01,  1.19095331e+00, -1.53666895e-01,  5.87246279e-01,
        7.50100107e-02, -4.73814563e-01, -1.04093329e+00,  6.42128736e-01,
        6.97011194e-01, -1.81108124e-01,  1.76721911e+00,  2.44410275e+00,
       -1.17078590e-01,  5.59805050e-01,  5.04922593e-01,  1.39039544e-01,
       -6.38461935e-01,  3.86010602e-01, -9.87844375e-02,  5.14069669e-01,
        7.06158270e-01,  8.98246871e-01,  7.50100107e-02,  4.31745983e-01,
        7.61040727e-01,  1.27327700e+00, -3.54902572e-01, -3.91490877e-01,
        4.50040136e-01,  6.69569965e-01,  3.76863526e-01,  1.77636619e+00,
        2.85392764e-01,  4.31745983e-01, -3.45755496e-01, -3.27461343e-01,
        2.85392764e-01,  2.67098611e-01,  8.52511490e-01,  2.92746296e-02,
        1.73063081e+00,  2.85392764e-01,  8.70805642e-01,  6.05540432e-01,
        1.48186620e-01,  3.86010602e-01, -3.00020114e-01,  4.40893060e-01,
        1.20924746e+00,  1.30071822e+00,  8.43364413e-01,  4.04304755e-01,
        7.33599499e-01,  6.78717041e-01, -7.31367532e-03,  4.59187212e-01,
       -2.81725962e-01,  3.69725219e+00,  1.48186620e-01, -3.64049648e-01,
        6.97011194e-01,  6.51275813e-01,  8.43364413e-01,  1.30986530e+00,
       -8.04902851e-02, -1.26225666e-01,  8.34217337e-01, -3.47549040e-02,
        5.96393355e-01,  1.20745392e-01,  5.87246279e-01, -2.56078278e-02,
        2.39657383e-01,  6.69569965e-01,  2.94539840e-01,  3.58569374e-01,
        2.12216154e-01, -1.81108124e-01,  4.04304755e-01,  3.31128145e-01,
        1.10862962e+00, -1.07931514e-01,  6.14687508e-01,  8.15923185e-01,
        1.57333697e-01,  8.06776108e-01, -4.39019802e-02,  3.58569374e-01,
        2.39657383e-01,  2.30510306e-01,  1.87698403e+00,  3.58569374e-01,
        1.03545301e+00,  1.11598316e-01,  4.77481364e-01,  3.49422297e-01,
        1.18180623e+00,  7.88481956e-01,  7.42746575e-01,  9.33041631e-02,
        4.22598907e-01, -6.21961327e-02, -1.35372742e-01, -5.30490564e-02,
        8.98246871e-01,  6.32981660e-01,  4.31745983e-01,  9.98864709e-01,
        4.59187212e-01,  2.85392764e-01, -4.73814563e-01,  1.84774925e-01,
       -1.35372742e-01,  1.48186620e-01,  9.98864709e-01,  5.32363822e-01,
       -6.11020706e-01,  1.57333697e-01,  5.87246279e-01,  8.15923185e-01,
        7.06158270e-01,  1.84774925e-01,  2.48804459e-01,  3.49422297e-01,
        7.42746575e-01,  1.66480773e-01, -2.56078278e-02,  5.87246279e-01,
        2.12216154e-01,  9.53129328e-01, -3.47549040e-02,  9.07393947e-01,
        5.23216746e-01,  5.96393355e-01, -3.47549040e-02, -7.48226849e-01,
        8.79952718e-01, -2.35990581e-01,  1.06289424e+00,  7.51893651e-01,
        6.97011194e-01,  4.68334288e-01,  1.00801179e+00,  1.09804771e-02,
        1.25498284e+00,  8.79952718e-01,  1.42877729e+00, -5.30490564e-02,
        1.16351208e+00, -7.31367532e-03,  8.52511490e-01,  6.14687508e-01,
        6.32981660e-01, -2.54284733e-01,  3.49422297e-01,  6.97011194e-01,
        1.84774925e-01,  1.30071822e+00,  2.67277966e+00,  5.59805050e-01,
        8.52511490e-01,  6.60422889e-01,  4.50040136e-01,  6.87864118e-01,
        1.78551326e+00, -3.54902572e-01,  1.09804771e-02,  1.10862962e+00,
        6.97011194e-01,  2.03069078e-01,  2.94539840e-01, -6.65903163e-01,
       -5.30490564e-02,  9.71423480e-01,  9.07393947e-01,  1.93922002e-01,
        3.95157678e-01,  3.31128145e-01,  2.39657383e-01, -7.31367532e-03,
        2.01275533e-02,  1.93922002e-01,  8.79952718e-01,  1.29892468e-01,
       -3.54902572e-01,  2.21363230e-01,  1.35560068e+00,  4.95775517e-01,
        4.31745983e-01,  2.12216154e-01,  1.93922002e-01,  1.32815945e+00,
        1.45621852e+00, -8.04902851e-02, -2.72578886e-01, -1.62813971e-01,
        9.98864709e-01, -3.00020114e-01,  1.11598316e-01,  5.32363822e-01,
       -1.53666895e-01, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
        5.59805050e-01,  9.33041631e-02,  1.75627849e-01,  2.67098611e-01,
        1.29892468e-01, -1.81843477e+00,  3.40275221e-01, -1.81843477e+00,
       -1.81843477e+00,  6.23834584e-01, -3.00020114e-01, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,  1.93922002e-01,
       -1.99402276e-01,  3.40275221e-01, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.17078590e-01,
       -9.03727145e-01,  2.67098611e-01, -1.81843477e+00, -2.54284733e-01,
        2.85392764e-01, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
        7.51893651e-01, -1.81843477e+00,  3.84217058e-02, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00, -1.81843477e+00, -1.81843477e+00,
        7.15305346e-01, -1.81843477e+00,  3.12833992e-01, -1.81843477e+00,
       -1.81843477e+00,  3.76863526e-01, -1.81843477e+00, -1.81843477e+00,
       -4.18932105e-01,  2.30510306e-01, -1.81843477e+00, -1.81843477e+00,
       -1.81843477e+00,  1.07204132e+00, -1.81843477e+00, -1.81843477e+00,
        1.75627849e-01, -1.81843477e+00,  1.02630594e+00, -1.81843477e+00,
       -1.81843477e+00, -1.81843477e+00,  6.51275813e-01, -1.81843477e+00,
       -1.81843477e+00,  1.66480773e-01,  1.39039544e-01,  1.39039544e-01,
        4.86628441e-01,  1.93922002e-01,  1.39039544e-01,  3.84217058e-02,
       -1.81843477e+00,  1.28242407e+00,  1.57333697e-01,  7.06158270e-01,
        2.37092614e+00,  3.86010602e-01,  1.69404250e+00,  8.98246871e-01,
        4.50040136e-01,  9.98864709e-01,  8.41570869e-02,  2.57951535e-01,
        1.02451239e-01,  4.22598907e-01,  2.39657383e-01,  3.76863526e-01,
       -1.81843477e+00, -7.31367532e-03, -3.47549040e-02,  6.23834584e-01,
       -3.45755496e-01,  5.41510898e-01, -1.81843477e+00, -1.81843477e+00,
       -3.47549040e-02,  3.31128145e-01, -1.81843477e+00,  9.71423480e-01,
        2.21363230e-01,  7.61040727e-01,  1.37389483e+00, -3.54902572e-01,
       -3.54902572e-01,  3.40275221e-01,  1.03545301e+00,  7.70187804e-01,
       -5.19549944e-01,  1.11598316e-01,  1.75627849e-01,  9.80570557e-01,
       -1.17078590e-01,  4.86628441e-01,  2.12216154e-01, -1.81843477e+00,
       -1.81843477e+00,  5.41510898e-01,  2.92746296e-02, -1.64607515e-02,
        4.75687820e-02, -7.84815154e-01,  6.87864118e-01, -6.21961327e-02,
        9.07393947e-01,  6.69569965e-01,  1.93922002e-01,  1.09804771e-02,
        5.68952127e-01, -1.62813971e-01,  5.59805050e-01,  1.93922002e-01,
        2.03069078e-01,  1.57333697e-01, -2.17696428e-01,  1.84774925e-01,
        1.01715886e+00,  8.41570869e-02,  3.03686916e-01,  6.78717041e-01,
        3.84217058e-02, -1.53666895e-01,  6.87864118e-01,  4.75687820e-02,
        6.51275813e-01,  8.52511490e-01, -2.54284733e-01,  2.03069078e-01,
        8.25070261e-01,  1.66480773e-01,  2.21363230e-01, -8.12256383e-01,
       -5.30490564e-02, -6.93344392e-01,  1.02451239e-01,  7.61040727e-01,
       -2.63431810e-01,  1.55683636e+00, -2.35990581e-01,  8.25070261e-01,
       -4.28079182e-01,  8.41570869e-02,  1.57333697e-01,  6.60422889e-01,
        4.13451831e-01,  7.88481956e-01,  4.04304755e-01,  3.76863526e-01,
        1.84774925e-01,  3.49422297e-01, -3.09167191e-01,  1.29892468e-01,
        8.06776108e-01,  5.41510898e-01,  5.23216746e-01, -1.17078590e-01,
        5.96393355e-01, -1.26225666e-01,  2.48804459e-01,  3.84217058e-02,
        7.50100107e-02,  7.79334880e-01,  1.26412992e+00,  1.01715886e+00,
        5.04922593e-01,  5.41510898e-01,  5.04922593e-01,  9.25688099e-01,
       -2.63431810e-01,  1.01715886e+00,  1.22754161e+00, -5.46991172e-01,
        2.21363230e-01,  1.70318958e+00,  5.04922593e-01,  1.12692378e+00,
        3.34051622e+00,  5.68952127e-01,  5.87246279e-01,  6.42128736e-01,
       -1.99402276e-01,  5.23216746e-01,  3.67716450e-01,  8.61658566e-01,
        1.90442526e+00,  3.21981069e-01,  2.48804459e-01,  3.31128145e-01,
        3.21981069e-01,  9.53129328e-01, -4.55520410e-01,  1.02630594e+00,
        3.84217058e-02,  1.11598316e-01,  1.83340090e-03,  2.76245688e-01,
        4.22598907e-01,  9.53129328e-01,  4.75687820e-02,  8.15923185e-01,
        6.97011194e-01,  4.04304755e-01,  8.79952718e-01,  2.85392764e-01,
        6.05540432e-01,  2.76245688e-01,  2.67098611e-01,  1.48186620e-01,
        1.16351208e+00,  1.09804771e-02,  5.23216746e-01,  7.50100107e-02,
        6.78717041e-01, -1.71961047e-01,  2.12216154e-01,  2.21363230e-01,
        9.33041631e-02,  3.12833992e-01, -1.64607515e-02,  1.75627849e-01,
        1.11598316e-01, -4.55520410e-01, -1.64607515e-02,  4.31745983e-01,
        2.39657383e-01,  1.06289424e+00,  5.67158582e-02,  1.99589602e+00,
       -3.47549040e-02,  3.21981069e-01, -7.31367532e-03, -3.00020114e-01,
       -1.90255200e-01,  4.59187212e-01,  7.51893651e-01, -6.65903163e-01,
        9.71423480e-01,  2.48804459e-01,  3.76863526e-01,  3.12833992e-01,
        7.06158270e-01,  5.68952127e-01,  1.09948255e+00,  3.95157678e-01,
        4.04304755e-01,  5.59805050e-01,  1.41963022e+00,  4.22598907e-01,
       -1.64607515e-02,  2.21363230e-01,  1.00801179e+00,  8.41570869e-02,
        1.83340090e-03,  9.33041631e-02,  3.40275221e-01,  1.75627849e-01,
       -7.31367532e-03,  6.51275813e-01,  1.39039544e-01,  2.01275533e-02,
        4.13451831e-01,  8.41570869e-02,  6.51275813e-01,  9.80570557e-01,
        4.04304755e-01,  2.03069078e-01,  1.20010039e+00,  6.14687508e-01,
        6.58629345e-02,  1.20745392e-01,  6.97011194e-01,  9.43982252e-01,
        3.21981069e-01,  1.04460009e+00,  4.13451831e-01, -5.28697020e-01,
        3.49422297e-01,  6.42128736e-01,  8.25070261e-01,  5.04922593e-01,
        6.87864118e-01,  2.12216154e-01,  5.41510898e-01, -1.99402276e-01,
       -3.54902572e-01,  1.17265916e+00,  3.31128145e-01,  9.71423480e-01,
        9.62276404e-01,  8.79952718e-01,  6.60422889e-01,  4.59187212e-01,
        8.15923185e-01,  2.48804459e-01,  7.70187804e-01, -9.87844375e-02,
        7.97629032e-01,  6.87864118e-01,  1.47451267e+00,  6.78717041e-01,
        2.01275533e-02,  6.23834584e-01, -2.56078278e-02,  2.01275533e-02,
        2.85392764e-01,  6.42128736e-01,  1.20745392e-01,  2.48804459e-01,
        4.31745983e-01,  3.03686916e-01, -1.99402276e-01,  7.15305346e-01,
        4.59187212e-01,  1.02451239e-01,  7.50100107e-02,  1.20745392e-01,
        6.60422889e-01,  3.12833992e-01,  1.29892468e-01,  7.70187804e-01,
        7.61040727e-01,  2.85392764e-01, -2.90873038e-01,  2.30510306e-01,
        6.32981660e-01,  4.68334288e-01,  1.84774925e-01,  6.23834584e-01,
        9.53129328e-01,  5.23216746e-01,  4.75687820e-02,  1.66480773e-01,
        9.98864709e-01, -5.30490564e-02,  2.67098611e-01,  2.94539840e-01,
        4.13451831e-01,  5.78099203e-01,  5.50657974e-01,  1.11598316e-01,
        1.15436500e+00,  5.04922593e-01, -1.64607515e-02,  3.40275221e-01,
        7.61040727e-01,  3.21981069e-01,  5.04922593e-01,  9.16541023e-01,
        1.11598316e-01, -1.53666895e-01,  8.70805642e-01,  9.07393947e-01,
        2.94539840e-01,  5.04922593e-01, -2.56078278e-02,  3.76863526e-01,
        1.92271941e+00, -2.45137657e-01,  6.05540432e-01,  4.31745983e-01,
        1.06289424e+00, -1.35372742e-01,  3.12833992e-01,  1.78551326e+00,
        6.42128736e-01,  3.67716450e-01, -2.26843505e-01,  1.00801179e+00,
        7.61040727e-01,  5.14069669e-01,  4.68334288e-01,  4.50040136e-01,
        1.39039544e-01,  3.67716450e-01,  9.62276404e-01,  7.15305346e-01,
        9.25688099e-01,  5.41510898e-01,  9.16541023e-01,  8.25070261e-01,
        9.07393947e-01,  1.09033547e+00,  3.76863526e-01,  1.00801179e+00,
        4.68334288e-01,  8.15923185e-01,  4.22598907e-01,  1.29892468e-01,
        1.57333697e-01,  4.75687820e-02,  4.75687820e-02,  4.86628441e-01,
        2.57951535e-01,  5.41510898e-01,  1.93922002e-01,  3.67716450e-01,
        5.04922593e-01, -2.81725962e-01,  1.20010039e+00, -1.44519819e-01,
        3.84217058e-02,  5.87246279e-01,  1.30071822e+00,  7.70187804e-01,
       -1.17078590e-01,  9.89717633e-01,  1.84774925e-01,  5.59805050e-01,
        5.14069669e-01,  2.94539840e-01, -3.18314267e-01,  3.21981069e-01,
       -1.99402276e-01,  5.32363822e-01,  1.15436500e+00,  6.87864118e-01,
        1.11777670e+00,  5.96393355e-01,  6.32981660e-01,  9.98864709e-01,
        4.95775517e-01,  4.50040136e-01,  6.42128736e-01, -1.26225666e-01,
        7.61040727e-01, -9.87844375e-02,  1.84774925e-01,  8.34217337e-01,
       -2.17696428e-01,  1.20745392e-01,  9.43982252e-01,  4.04304755e-01,
        1.41048314e+00,  1.24583577e+00,  4.40893060e-01,  1.29157115e+00,
        6.58629345e-02,  7.79334880e-01,  6.14687508e-01,  2.76245688e-01,
        1.83340090e-03,  5.87246279e-01,  8.70805642e-01, -6.21961327e-02,
        7.97629032e-01,  1.57333697e-01,  2.21363230e-01,  4.40893060e-01,
        4.75687820e-02,  4.75687820e-02,  2.57951535e-01,  7.24452422e-01,
        1.93922002e-01,  3.03686916e-01, -1.64607515e-02,  1.24583577e+00,
        4.95775517e-01,  5.67158582e-02, -6.21961327e-02,  3.84217058e-02,
        1.09033547e+00,  2.39657383e-01,  1.93922002e-01,  2.03069078e-01,
        3.76863526e-01,  1.20745392e-01,  1.30986530e+00, -2.72578886e-01,
       -1.07931514e-01, -1.64607515e-02, -3.82343800e-01, -2.08549352e-01,
        3.86010602e-01,  5.96393355e-01, -5.30490564e-02, -6.20167782e-01,
        3.40275221e-01, -2.17696428e-01])

In [5]:
df.Cholesterol.mean(), df.Cholesterol.std()
df.Cholesterol.mean() +3*df.Cholesterol.std()

526.9519979267626

#### Remove Outliers

In [6]:
df[df.Cholesterol > df.Cholesterol.mean() +3*df.Cholesterol.std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [7]:
# Remove outliers from Cholesterol
df = df[df.Cholesterol <= (df.Cholesterol.mean()+3*df.Cholesterol.std())]
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [8]:
df.shape

(915, 12)

In [9]:
df[df.RestingBP > df.RestingBP.mean() +3*df.RestingBP.std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [10]:
# Removing values greater than range
df = df[df.RestingBP <= df.RestingBP.mean() +3*df.RestingBP.std()]
df.shape

(908, 12)

In [11]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [12]:
df.reset_index()

,index,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
904,914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
905,915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
906,916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
907,917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [13]:
df[df.FastingBS > df.FastingBS.mean() + 3* df.FastingBS.std()]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [14]:
df[df.Oldpeak > df.Oldpeak.mean() + 3* df.Oldpeak.std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [15]:
df = df[df.Oldpeak <= df.Oldpeak.mean() + 3* df.Oldpeak.std()]
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [16]:
df.reset_index()

,index,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
898,914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
899,915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
900,916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
901,917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [17]:
df.nunique()

Age                50
Sex                 2
ChestPainType       4
RestingBP          64
Cholesterol       219
FastingBS           2
RestingECG          3
MaxHR             117
ExerciseAngina      2
Oldpeak            48
ST_Slope            3
HeartDisease        2
dtype: int64

In [18]:
# get unique object
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [19]:
# get unique object
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [20]:
# get unique object
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [21]:
# get unique object
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [24]:
# Replacing object with integer
df.ExerciseAngina.replace({'N':0,'Y':1}, inplace=True)
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,0,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,0,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,1,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,0,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,0,0.0,Up,0

In [25]:
# Replacing object with integer
df.RestingECG.replace({'Normal':1, 'ST':2, 'LVH':3}, inplace=True)
df.ST_Slope.replace({'Down':1, 'Flat':2, 'Up':3}, inplace=True)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0

In [26]:
# performing label encoding
df = pd.get_dummies(df, drop_first=True)
df.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,0,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,130,283,0,2,98,0,0.0,3,0,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,1,0,0,0,0
4,54,150,195,0,1,122,0,0.0,3,0,1,0,1,0

In [27]:
X = df.drop('HeartDisease',axis=1)
y = df.HeartDisease

In [28]:
# Scaling the data
from sklearn.preprocessing import StandardScaler

scaled = StandardScaler()
X_scaled = scaled.fit_transform(X)
X_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.10495034,  0.79657967, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878, -0.10495034,  0.35947592, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [29]:
# Splitting data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2)

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [32]:
# create an object and perform fitting and check accuracy
lr = LogisticRegression()
lr.fit(X_train,y_train)
lr.score(X_test, y_test)

0.8674033149171271

In [33]:
# create an object and perform fitting and check accuracy
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
rf.score(X_test, y_test)

0.8839779005524862

In [34]:
# create an object and perform fitting and check accuracy
svm = SVC()
svm.fit(X_train,y_train)
svm.score(X_test, y_test)

0.8342541436464088

#### PCA

In [36]:
# import model and perform pca
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)

In [37]:
# Split the data
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2)

In [38]:
# create an object and perform fitting and check accuracy
lr = LogisticRegression()
lr.fit(X_train_pca,y_train)
lr.score(X_test_pca, y_test)

0.6574585635359116

In [39]:
# create an object and perform fitting and check accuracy
rf = RandomForestClassifier()
rf.fit(X_train_pca,y_train)
rf.score(X_test_pca, y_test)

0.6961325966850829

In [40]:
# create an object and perform fitting and check accuracy
svm = SVC()
svm.fit(X_train_pca,y_train)
svm.score(X_test_pca, y_test)

0.7071823204419889